<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1619a7c6-65f9-4f1b-b8e0-a5559e8fda13/resourceGroups/TutoriasUTE/providers/Microsoft.Web/sites/tutoriasute</ResourceId>
    <ResourceGroup>TutoriasUTE</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tutoriasute.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tutoriasute.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tutoriasute</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tutoriasute</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TutoriasUTEDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tutoriasute.database.windows.net,1433;Initial Catalog=TutoriasUTE;Persist Security Info=False;User ID=tutoriasadmin;Password=Tute1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:tutoriasute.database.windows.net,1433;Initial Catalog=TutoriasUTE;Persist Security Info=False;User ID=tutoriasadmin;Password=Tute1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TutoriasUTE.Models.TutoriasUTEDbContext, TutoriasUTE" MigrationConfiguration="TutoriasUTE.Migrations.Configuration, TutoriasUTE" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TutoriasUTEDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tutoriasute.database.windows.net,1433;Initial Catalog=TutoriasUTE;Persist Security Info=False;User ID=tutoriasadmin;Password=Tute1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>